.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #1e192c;
    height: 500px;
    color: white;
    /* border-radius: 10px; */
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
.topnav #myLinks {
    display: none;
}
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    background-color: rgb(137,71,173);
    color: white;
}
footer {
    background-color: rgb(137,71,173);
}